
html,body{
    margin:0;
    font-family: adobe-gothic-std, sans-serif;  
}

a:hover{
    text-decoration: none;
}

.boton_principal{
    font-weight: bolder;
    color: white;
    background-color: #016666;
}
/* Welcome Page Styles */


.welcome-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}


.title{
    margin-top: -8%;
    margin-bottom: 7%;
}

.title p{
    font-size: 1.9rem;
    font-weight: 400!important;
}

.offset-col-4-and-half{
    margin-left: 37.5%;
}

.login-form{
    margin-top: -5%;
}

.login-form label{
    font-weight: bold;
}

.form-group div{
    margin-top: 2%;
    padding: 1% 2%;
}

/* Elegir Empresa Styles */

.elegir_empresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
}

.elegir_empresa p{
    font-size: 1.3em;
}

.elegir_empresa form{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Header Styles */

.header{
    height: 10vh;
    width: 100vw;
    display: inline-grid;
    grid-template-columns: 15% auto 20%;
    border-bottom: 1.5px solid lightgray;
    position: fixed;
    background-color: white;
}

.business-header{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.business-header form{
    width: 85%;
}

.business-header select{
    font-size: 0.9rem;
}

.business-header p{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.user-header{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.user-header a{
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 15px;
}

/* Basic Grid Structre */

.main-container{
    display: inline-grid;
    grid-template-columns: 15% auto;
    width: 100vw;
}

.nav{
    grid-column-start: 1;
    grid-column-end: 2;
    position: fixed;
    left: 0%;
    top: 10vh;
    width: 15%;
}

.info-container{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 2%;
    margin-top: 15vh;
}

/* Nav Styles */

.nav{
    display: flex;
    flex-direction: column;
    height: 90vh;
    border-right: 1.5px solid lightgray;
}

.nav-item{
    height: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #353535;
    padding-left: 15px;

}

.nav-item:hover , .nav-item-child:hover{
    background-color: lightgray;
    color: initial;
}

.nav-item-child{
    height: 7%;
    display: flex;
    align-items: center;
    padding-left: 25%;
    color: #353535;
    font-size: 0.9rem;
}

.active{
    font-weight: bold;
}

.active-child{
    font-weight: bold;
}

/* Maestros - Legajos Styles */

.menu_maestros{
    display: flex;
    flex-direction: row;
    margin: 3vh 0;
    font-size: 1rem;
}

.btn{
    margin-right: 16px;
}

.display_none{
    display: none !important;
}

.table th,.table td{
    width: 14%;
}

.maestros_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    margin: 8% 15% 0 15%;
}

.accept_cancel_button,
.añadir_novedad_group{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0% 0%;
}

.maestros_form input, .maestros_form select,.maestros_form p, .maestros_form_usuarios input, .maestros_form_usuarios select{
    width: 75%;
}

.maestros_form p{
    background-color: #e9ecef;
}
/* Maestros Usuarios Styles */

.maestros_form_usuarios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    margin: 8% 15% 0 15%;
}

.reestablecer_contraseña{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -1.5rem 15% 0 15%;
}

.reestablecer_contraseña button{
    width: 75%;
    padding: 0;
}

.reestablecer_form{
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reestablecer_form button{
    width: 25%;
}

/* Añadir Novedades Styles*/

.maestros_form_novedades{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: 8% 20% 0 20%;
}
/* Backend Styles */

.backend-button{
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Alta Novedad Styles */

.form-check{
    margin: 0;
    padding: 0!important;
}

.form-check-input{
    position: initial;
    width: initial!important;
    margin: 0;
    margin-right: 2%;
}


/* Registro Novedades Styles */

.exportar_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.exportar_form div{
    width: 30%;
    margin: 2.5vh 0;
}

.exportar_form button{
    width: 25%;
    margin: 2.5vh 0;
}

/* Kpi's Styles */

.tablero_kpi{
    margin: 10vh 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tarjeta_kpi{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    margin: 2%;
}